#browser-refresh {
  position: fixed;
  z-index: 1001;
}
#browser-refresh.br {
  bottom: 0;
  right: 0;
}
#browser-refresh.bl {
  bottom: 0;
  left: 0;
}
#browser-refresh.tr {
  top: 0;
  right: 0;
}
#browser-refresh.tl {
  top: 0;
  left: 0;
}
#browser-refresh.active div.status {
  background-color: green;
}
#browser-refresh.inactive div.status {
  background-color: red;
}
#browser-refresh .status {
  width: 30px;
  height: 30px;
  background-image: none;
}
#browser-refresh .content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  width: 700px;
  font-weight: bold;
}
#browser-refresh.br .content {
  right: 30px;
  bottom: 0;
}
#browser-refresh.bl .content {
  left: 30px;
  bottom: 0;
}
#browser-refresh.tr .content {
  right: 30px;
  top: 0;
}
#browser-refresh.tl .content {
  left: 30px;
  top: 0;
}
#browser-refresh .content p {
  font-weight: normal;
}
#browser-refresh .content p code {
  white-space: nowrap;
}
#browser-refresh:hover .content {
  display: block;
}
