<h3>Instructions for browser-refresh</h3>
<ol>
  <li>Installation
    <p>You need nodeJS to be installed and version 4.2 or higher is required. Please refer to the <a href="https://nodejs.org" target="_blank">nodeJS documentation</a> for your operating system.</p>
    <p>The dependencies get installed and updated automatically when you start browser-refresh, see below.</p>
  </li>
  <li>Start browser-refresh
    <p><code>drush browser-refresh-start</code></p>
  </li>
  <li>Stop browser-refresh
    <p><code>drush browser-refresh-stop</code></p>
  </li>
  <li>Get browser-refresh status
    <p><code>drush browser-refresh-status</code></p>
  </li>
  <li>Restart browser-refresh
    <p><code>drush browser-refresh-restart</code></p>
  </li>
</ol>
